<footer id="page-footer">
  <p>
    Copyright &copy; 2013
    <%= link_to 'Movie App - The Pragmatic Studio', 'http://pragmaticstudio.com' %>
  </p>
  <p>
    Idea from pragmatic studio and strictly for educational purposes only.
  </p>
</footer>